
@{
    ViewBag.Title = "ListarMistura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListarMistura</h2>



        @foreach (Projeto1.Models.ModOfereceProduto item in Model)
        {
            <div class="col-md-6">
                <div class="panel-heading" role="tab" id="headingOne">


                    <a id=@item.produto.codigoProduto class="list-group-item collapsed">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nome: </label>@item.produto.nomeProduto <br />
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Tipo: </label>@item.produto.tipoProduto.descricao <br />
                            </div>



                            <div class="col-md-2">
                                <div class="radio-inline" >
                                    <input type="checkbox" name="item" value="@item.produto.codigoProduto">
                                    </div>
                                </div>
                        </div>
                    </a>

                </div>

            </div>

        }
    









            @*<input type="checkbox" id="Pacote_i" name="Pacote" value="Pacote i" onClick="soma()">
                <input type="checkbox" id="Pacote_ii" name="Pacote" value="Pacote ii" onClick="soma()">
                <input type="checkbox" id="Pacote_iii" name="Pacote" value="Pacote iii" onClick="soma()">*@
            @*<script>
                function soma() {

                    var pacote = document.getElementsByName('Pacote');
                    for (var i = 0; i < pacote.length; i++) {
                        if (pacote[i].checked) {
                            if (pacote[i].value == "Pacote i") {
                                var Pacote_i = @item.produto.codigoProduto;
                                alert(Pacote_i);
                            } else if (pacote[i].value == "Pacote ii") {
                                var Pacote_ii = "Pacote DOIS";
                                alert(Pacote_ii);
                            } else if (pacote[i].value == "Pacote iii") {
                                var Pacote_iii = "Pacote TRÊS";
                                alert(Pacote_iii);
                            }
                        }
                    }

                }
                </script>*@
        
        @*<input type="button" value="cancelar" onClick="Mistura()">
            <script>*@
        @*//function Prato() {

                //    var misturas = document.getElementsByName('Pacote');

                //    for (var i = 0; i < misturas.length; i++) {
                //        if (misturas[i].checked) {
                //            alert(misturas[i].value);
                //        }

                //    }

                //} function Principal() {

                //    var misturas = document.getElementsByName('Pacote');

                //    for (var i = 0; i < misturas.length; i++) {
                //        if (misturas[i].checked) {
                //            alert(misturas[i].value);
                //        }

                //    }

                //}
                function Mistura() {

                    var misturas = document.getElementsByName('Pacote');

                    for (var i = 0; i < misturas.length; i++) {
                        if (misturas[i].checked) {
                            alert(misturas[i].value);

                        }

                    }
                    location.href = '@Url.Action("RealizarPedido", "Pedido", new { codigo = "js-id" })'
                      .replace("js-id", misturas.value);

                }

            </script>*@

   