<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PedeFacil</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">


        <div class="row">
            <div class="col-md-12">
                
                    @Html.Action("Menu", "Home")
                </div>
        </div>
        @RenderBody()

       
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        @RenderSection("scripts", required: false)
</body>
</html>
